#about {
    padding-top: 30px;
    color: #555;
    h2 {
        font-weight: bold;
        margin-bottom: 13px;
    }
    .content {
        figure {
            width: 100%;
            height: auto;
            margin-bottom: 20px;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}