.breadcrumbs {
    &-singular {
        color: hsla(0,0%,40%,.7);
        text-transform: uppercase;
        font-size: 15px;
        font-weight: 500;
        a {
            color: hsla(0,0%,40%,.7);
            &:hover {
                text-decoration: none;
                color: #111;
            }
        }
        .current-item {
            color: #111;
            font-weight: bold;
        }
        margin-bottom: 7px;
    }
    &-archive {
        color: hsla(0,0%,40%,.7);
        text-transform: uppercase;
        font-size: 19px;
        font-weight: 500;
        a {
            color: hsla(0,0%,40%,.7);
            &:hover {
                text-decoration: none;
                color: #111;
            }
        }
        .current-item {
            color: #111;
            font-weight: bold;
        }
        margin-bottom: 7px;
    }
}