#single-post {
    .post-content {
        padding-top: 30px;
        .post-title {
            font-size: 28px;
            font-weight: bold;
        }
        .post-create {
            text-align: right;
            font-size: 15px;
            font-weight: bold;
            color: rgb(76, 76, 76);
        }
        img {
            margin-bottom: 16px;
        }
    }
    .post-share {
        padding-top: 30px;
        display: flex;
        align-items: center;
        gap: 10px;
        //plugin social share
        .norm_row {
            width: 135px !important;
        }
        figure {
            width: 105px;
            height: auto;
            img {
                width: 100%;
            }
        }
        &-text {
            font-size: 20px;
            font-weight: bold;
        }
    }
    .side-bar {
        border-left: 1px solid rgba(0, 0, 0, 0.1);
        h3 {
            font-weight: bold;
            margin-bottom: 20px;
            font-size: 1.6em;
            color: #555;
        }
        figure {
            width: 100%;
            height: auto;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                margin-bottom: 10px;
            }
        }
        h4 {
            font-size: 18px;
            color: #555;
        }
        .side-item {
            margin-bottom: 18px;
        }
        a {
            display: block;
            &:hover {
                text-decoration: none;
            }
        }
    }
}
@media only screen and (max-width: 991px) { 
    #single-post {
        .side-bar {
            border-left: none;
            .side-item {
                margin-bottom: 30px;
            }
        }
    }
}