#single-product {
    padding-top: 30px;
    .is-divider.small {
        background-color: rgba(0,0,0,.1);
        display: block;
        height: 3px;
        margin: 1em 0;
        max-width: 30px;
        width: 100%;
    }
    .product-info {
        padding-bottom: 30px;
        .info-content {
            padding-top: 10px;
            bdi {
                color: #111;
                font-size: 26px;
                font-weight: 700;
            }
            .title {
                font-size: 27px;
                font-weight: bold;
                color: rgb(85, 85, 85);
                
                // border-bottom: 1px solid rgba(0, 0, 0, 0.2);
            }
            .description {
                p {
                    margin-top: 0;
                }
            }
        }
    }
    .product-detail {
        border-top: solid 2px rgba(0, 0, 0, 0.1);
        padding-top: 15px;
        h2 {
            font-size: 26px;
            font-weight: bold;
            color: rgb(85, 85, 85);
        }
        h3 {
            font-size: 20px;
            font-weight: bold;
            color: rgb(85, 85, 85);
        }
        h4 {
            font-size: 18px;
            font-weight: bold;
            color: rgb(85, 85, 85);
        }
        img {
            padding-bottom: 15px;
        }
    }
}
@media only screen and (max-width: 991px) { 
    // .product-info {
    //     .info-pic {
    //         .rs01imgback {
    //             width: 617px !important;
    //             height: 262px !important;
    //             object-fit: cover !important;
    //         }
    //     }
    // }
}